<section class="dashboard-header section-padding forms" style="overflow:auto;">

    <div class="wrapper">
    <div class="container-fluid">
    <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>All Your Orders</h4>
                  <div class="add-user" style="float: right;"><button class="btn btn-primary" id="createOrder">Add Order</button></div>
                </div>
                <div class="card-body d-flex align-items-center">

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="orderUserTable">
                        
                        <thead>
                        <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Date Created</th>
                        <th class="th-sm">Date in Progress</th>
                        <th class="th-sm">Date Finished</th>
                        <th class="th-sm">Date Delivery</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Payment</th>
                        <th class="th-sm">Price</th>
                        <th class="th-sm">Price Delivery</th>
                        <th class="th-sm">Address</th>
                        <th class="th-sm">Address1</th>
                        <th class="th-sm">State</th>
                        <th class="th-sm">Country</th>
                        <th class="th-sm">Delivery Type</th>
                        <th class="th-sm">Supply By User</th>
                        <th class="th-sm">Delivery</th>
                        <th class="th-sm">Requsted Date</th>
                        <th class="th-sm">Photo</th>
                        <th class="th-sm">Created</th>
                        <th class="th-sm">Menage</th>
                        </tr>
                        </thead>
                        <tbody id="table">
                          
                        </tbody>
                    <tfoot>
                         <tr>
                        <th>#</th>
                        <th>Date Created</th>
                        <th>Date in Progress</th>
                        <th>Date Finished</th>
                        <th>Date Delivery</th>
                        <th>Status</th>
                        <th>Payment</th>
                        <th>Price</th>
                        <th>Price Delivery</th>
                        <th>Address</th>
                        <th>Address1</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Delivery Type</th>
                        <th>Supply By User</th>
                        <th>Delivery</th>
                        <th>Requsted Date</th>
                        <th>Photo</th>
                        <th>Created</th>
                        <th>Menage</th>
                        </tr>
                        </tfoot>
                    
                    </table>
                  </div>
                </div>
              </div>
            </div>
                  <!-- Modal-->
                  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Update Producer</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">      
                  <form>
                    <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="name" />
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="" id="email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Website</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="" id="website" />
                    </div>
                </div>
                 <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Country</label>
                      <div class="col-lg-9">
                        <select name="account" class="form-control" id="country">
                        </select>
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street" id="address" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address1</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street1" id="address1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="City" id="city" />
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">State</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="State" id="state" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="phone" value="06x-xxx-xx-xx" id="phone" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Update Producer" id="submit" />
                    </div>
                </div>

                <div class="error"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
              