          <div class="row">
            <div class="col-lg-9 text-center">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4 style="tex">Create Order</h4>
                </div>
                <div class="card-body">
        
             <form role="form" id="contact-form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Requested Date</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="requested_date" />
                    </div>
                </div>              
                 <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Delivery Type</label>
                      <div class="col-lg-9">
                        <select name="delivery-type" class="form-control" id="delivery_type">
                        </select>
                      </div>
                  </div>
                  </form><!-- end of form -->
                  <hr>
                  <div class=" d-flex align-items-center">
                  <h4>Items to Order</h4>
                </div>
            <br>
              <div class="form-group">
               <div class="col-lg-9" style="display: flex;">
                <label class="col-lg-3 col-form-label form-control-label">Add Material Items</label>
                        <button class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#CreateOrderModal"><i class="fas fa-plus-circle"></i></button>
                      </div>
                </div>                               
                <div class="error"></div>
                <hr>
                 <div class="form-group">
              <div class=" d-flex align-items-center">
                  <h4>List of Items</h4>
                </div>
                <br>
            <div class="list-group text-left" id="listShow">
              </div>
               <div class="turn-page" id="pager"></div>
               </div>
                <div class="form-group">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Create Order" id="submit_crate_o" />
                        </div>
                    </div>
                    <div class="error"></div>
            </div>
        </div>
      </div>


                                        <!-- Create Order Modal-->
                  <div id="CreateOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Create Material Items</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">      
                  <form>
                    <div class="form-group row">
                         <label class="col-lg-3 col-form-label form-control-label">Material Name</label>
                         <div class="col-lg-9">
                        <select  class="form-control" id="materialname">
                        </select>
                      </div>
                </div>   
                </form>  
                    <div class="form-group">
               <div class="col-lg-9" style="display: flex;">
                        Add Elements<button class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#CreateItemElements">
                          <i class="fas fa-plus-circle"></i></button>
                      </div>
                </div>   
                <div class="form-group">
              <div class=" d-flex align-items-center">
                  <h4>List of Elements</h4>
                </div>
                <br>
            <div class="list-group text-left" id="listItemElements">
              </div>
               </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9" style="display: flex;">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Ok" id="addItem"/>
                    </div>
                </div>

                <div class="error"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End of Modal Create Order-->

                     <!-- Create Item Elements Modal-->
                  <div id="CreateItemElements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Create Material Elements Items</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">      
                  <form>
                    <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Width</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="width_ordItm_elem" />
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Height</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="height_ordItm_elem" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Directions</label>
                    <div class="col-lg-9">
                        <input class="form-control" placeholder="h or v" type="text" value="" id="direction_ordItm_elem" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Quantity</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="quantity_ordItm_elem" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9" style="display: flex;">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Ok" id="addElements"/>
                    </div>
                </div>

                <div class="error"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End of Modal Create Order Item-->

           <!-- Update Order Item Modal-->
                  <div id="UpdateOrderItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Update Material Items</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">      
                  <form>
                    <div class="form-group row">
                         <label class="col-lg-3 col-form-label form-control-label">Material Name</label>
                         <div class="col-lg-9">
                        <select  class="form-control" id="edit_materialname">
                        </select>
                      </div>
                </div>   
                </form>  
                    <div class="form-group">
               <div class="col-lg-9" style="display: flex;">
                        Add Elements<button class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#CreateItemElements">
                          <i class="fas fa-plus-circle"></i></button>
                      </div>
                </div>   
                <div class="form-group">
              <div class=" d-flex align-items-center">
                  <h4>List of Elements</h4>
                </div>
                <br>
            <div class="list-group text-left" id="listItemElements">
              </div>
               </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9" style="display: flex;">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Ok"/>
                    </div>
                </div>

                <div class="error"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End of Modal -->       

                  <!-- Update Order Item Elements Modal-->
                  <div id="UpdateOrderItemElementsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Update Item Elements</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">      
                  <form>
                    
                    <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Width</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="edit_width_ordItm_elem" />
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Height</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="edit_height_ordItm_elem" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Directions</label>
                    <div class="col-lg-9">
                        <input class="form-control" placeholder="h or v" type="text" value="" id="edit_direction_ordItm_elem" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Quantity</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="edit_quantity_ordItm_elem" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9" style="display: flex;">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" id="saveItemElemets" value="Ok"/>
                    </div>
                </div>

                <div class="error"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End of Modal -->       
            
</div>
<hr />