<section class="dashboard-header section-padding forms">

      <div class="wrapper">
    <div class="container-fluid">
    <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>All Materials</h4>
                  <div class="add-user" style="float: right;"><button class="btn btn-primary" id="create-material">Add Material</button></div>
                </div>
                <div class="card-body d-flex align-items-center">

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="material_table">
                      <thead>
                        <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Image</th>
                        <th class="th-sm">Material name</th>
                        <th class="th-sm">Producer name</th>
                        <th class="th-sm">Material type</th>
                        <th class="th-sm">Width</th>
                        <th class="th-sm">Height</th>
                        <th class="th-sm">Depth</th>
                        <th class="th-sm">Code</th>
                        <th class="th-sm">Desription</th>
                        <th class="th-sm">Created</th>
                        <th class="th-sm">Menage</th>
                      </tr>
                      </thead>
                      <tbody id="table_materials">
                        
                      </tbody>
                      <tfoot>
                        <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Material name</th>
                        <th>Producer name</th>
                        <th>Material type</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Depth</th>
                        <th>Code</th>
                        <th>Desription</th>
                        <th>Created</th>
                        <th>Menage</th>
                      </tr>
                      </tfoot>
                    
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-pagination" style="margin: 0 auto;">
                            <nav>
                              <ul class="pagination">
                               <!-- Here the JS Function Will Add the Rows -->
                              </ul>
                            </nav>
                          </div>

                  <!-- Modal-->
                  <div id="myModalMaterials" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Update Material</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">      
                  <form>
                    <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Image URI</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="image_m" />
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Material name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="m_name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Producer name</label>
                    <div class="col-lg-9">
                        <select name="producer_id" class="form-control" id="producername">
                        </select>
                    </div>
                </div>
                 <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Material type</label>
                      <div class="col-lg-9">
                        <select name="type_id"  class="form-control" id="material-type">
                        </select>
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Width</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="number" step="any" value="" placeholder="Street" id="o_width" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Height</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="number" step="any" value="" placeholder="Street1" id="o_height" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Depth</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="number" step="any" value="" placeholder="City" id="o_depth" />
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Code</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="State" id="m_code" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Description</label>
                    <div class="col-lg-9">
                        <textarea name="description" id="descripton_m" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Update Material" id="submit_m" />
                    </div>
                </div>

                <div class="error"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            <br><br>
          </div>
        </div>
    </section>

              