<section class="dashboard-header section-padding forms">

      <div class="wrapper">
    <div class="container-fluid">
    <!-- Website Overview -->
    <div class="add-user" style="float: right;"><button class="btn btn-primary" id="adduser">Add User</button></div>
            <div class="panel panel-default">
              <h4>Select Number of rows</h4>
                  <select name="state" id="maxRows" class="form-control" style="width: 150px;">
                    <option value="5000">Show All</option>
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                  </select>    
              <div class="col-lg-12">
                <button class="btn btn-default" style="float: right;" id="getUsers" ">Show Users</button>
              <div class="card">
                <div class="card-header">
                  <h4>All Users</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table">
                      <thead>
                        <tr>
                        <th>#</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Joined</th>
                        <th>Menage</th>
                        </tr>
                      </thead>
                    
                    </table>
                  </div>
                </div>
              </div>
            </div>
                <div class="error"></div>
              </div>
            <br><br>
                            <div class="custom-pagination">
                                <ul class="pagination">
                                 <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                 <li class="page-item"><a class="page-link" href="#">1</a></li>
                                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                                 <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
          </div>
        </div>
    </section>