          <div class="row">
            <div class="col-lg-10 text-center">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Create Producer</h4>
                </div>
                <div class="card-body">
                  <p>Create producer</p>
             <form role="form" id="contact-form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="Jane" id="name" />
                    </div>
                </div>              
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="email@gmail.com" id="email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Website</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="" id="website" />
                    </div>
                </div>
                 <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Country</label>
                      <div class="col-lg-9">
                        <select name="account" class="form-control" id="country">
                        </select>
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street" id="address" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address1</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street1" id="address1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="City" id="city" />
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">State</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="State" id="state" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="phone" value="06x-xxx-xx-xx" id="phone" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Create Producer" id="submit" />
                    </div>
                </div>
                <div class="error"></div>
            </form>
        </div>
    </div>
</div>

</div>
<hr />