          <div class="row">
            <div class="col-lg-10 text-center">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Create Material</h4>
                </div>
                <div class="card-body">
                  <p>Create Material</p>
             <form role="form" id="contact-form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Material Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="m_name" />
                    </div>
                </div>              
                <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Producer Name</label>
                      <div class="col-lg-9">
                        <select name="account" class="form-control" id="producername">
                        </select>
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Material Type</label>
                    <div class="col-lg-9">
                        <select name="account" class="form-control" id="material-type">
                        </select>
                    </div>
                </div>
                 <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Original Width</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="number" step="any" value="" placeholder="must be number" id="original-width" />
                      </div>
                  </div>
                <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Original Height</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="number" step="any" value="" placeholder="must be number" id="original-height" />
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Code</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="" id="m_code" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Description</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" type="string" value="" placeholder="desc" id="description_m"></textarea>
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Image URL</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="url" id="img-url" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Original Depth</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="number" step="any" value="" placeholder="must be number" id="original-depth" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Create Material" id="submit-material" />
                    </div>
                </div>
                <div class="error"></div>
            </form>
        </div>
    </div>
</div>

</div>
<hr />