
                  <!-- Modal-->
                  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Signin Modal</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Lorem ipsum dolor sit amet consectetur.</p>
                          <form>
                                                        <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" id="name" />
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="" id="email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Website</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="" id="website" />
                    </div>
                </div>
                 <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Country</label>
                      <div class="col-lg-9">
                        <select name="account" class="form-control" id="country">
                        </select>
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street" id="address" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address1</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street1" id="address1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="City" id="city" />
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">State</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="State" id="state" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="phone" value="06x-xxx-xx-xx" id="phone" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Update Producer" id="submit" />
                    </div>
                </div>
                <div class="error"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>